@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}
.input {
  @apply border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
